@import "bootstrap.css";

/*
==========================================================================
 *** SITE STYLES ***
==========================================================================
*/

:root {
    --main-color: var(--blue);
    --accent-color: #333333;
}

body {
    padding-top: 3em; /*Keeps navbar from clipping stuff*/
    padding-bottom: 2em;
    font-family: 'Raleway', Tahoma, Arial, sans-serif;
    text-decoration: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.bold {
    font-weight: bold;
}

.container {
    padding-top: 1em;
    padding-bottom: 1em;
}

.svg-white {
    fill: white;
}

.img-btn {
    border-radius: 4em;
}

.img-btn .icon-rounded {
    padding-left: 0.5em;
}

/*
==========================================================================
 *** JUMBOTRON STYLES ***
==========================================================================
*/

.jumbotron h1 {
    font-size: 5em;
}

.jumbotron p {
    font-size: 1.5em;
}

.video-background {
    position: relative;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.7);
}

.video-background h1 {
    color: black;
}

.video-background p {
    color: black;
}

.jumbotron-video{
    position: absolute;
    height: auto;
    width: auto;
    min-height: 100%;
    min-width: 100%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    z-index: -1;
}